*{
    margin: 0;
    padding: 0;
}
table{
    border: 2px solid #ffffff;
}
.heading{
    color: #fefefe;
    background: #8dd3fa;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: left;
}
.heading_top{
    color: #fefefe;
    background: #8dd3fa;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
.content{
    color: #000000;
    background: #c7e9fd;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
td{
    text-align: center;
}